{% extends "base.html" %}
{%load static%}
{%block title%} Home Page {%endblock title%}


{% block content %}
<div class="container" >
<div class ="row">


        {% for recipe in recipes%}
        <div class = "col-5">
        <div class="card">
          <a href="{% url 'recipes' recipes_id=recipe.id %}">
          
            <div class="card">
              {% if recipe.image%}
              <img class="border border-secondary rounded my-2 mx-3" height="400" src="{{recipe.image.url}}" width="400"/>
              {%endif%}
              <div class="card-body">
                <h5 class="card-title">Recipes name: {{ recipe.name }}</h5>
             
                <p class="card-text"><small class="text-muted">Categorie : {{recipe.categories}}</small></p>
                <button><a href="{% url 'recipe_delete' recipe_id=recipe.id %}"class="btn btn-danger">delete </a></button>
                <form action="{% url 'recipe_update_form' recipe_id=recipe.id %}" method="POST">
                  {%csrf_token%}
                  {{form}}
                  <input type="submit" value="Update Recipe" class="btn btn-warning">
                  </form>

              </div>
            </div>
            </a>
          </div>
          </div>
         
          {% endfor %}

          </div>

          </div>
           
    
    {%csrf_token%}
{% endblock content %}