{% extends "base.html" %}

{% block title %}Rigister{% endblock title %}
    <link rel="stylesheet" href="register.css">
{% block content %}
<div class = "container-fluid image">
<form action="{% url 'register' %}"method="POST">
{%csrf_token%}

<!--   style="background-image: url('https://as1.ftcdn.net/v2/jpg/04/99/37/56/1000_F_499375635_uDldPC5EXfaM1aYzF7dzgB8l5I2EMjdm.jpg');">
 -->

<section class="vh-100 bg-image ">
 
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                {{form.as_p}}
                  
                  <input type="submit"  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value="Register"/>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="http://127.0.0.1:8000/login/"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}